body {
  margin-top: 10px;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px;
  min-height: 1000px;

}
 .nav {
  max-width: 100%;
  margin: 0 auto;
  border: solid 1px #bbb;
  padding: 15px;
  margin-top: 40px;
  background: lightgray;


 }
 .welcome {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: lightgray;

 }

.main-content {
  padding: 10px;
  background-image: url(https://www.callawayhenderson.com/localimagereader.ashx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2F7kv5jx7w5rh44qt8qf4fxwk232i215&imagecache=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 2000px;
  /* height: 100%;
  scroll-behavior: ; */
  margin-top: 15px;
}
/* .nav {
  padding: 5px; 
  background: #222;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;  
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  li {
    float: left;

  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:link {
    background-color: black;
  }
  
  a:visited {
    background-color: black;
  }
  
  a:hover {
    background-color: midnightblue;
  }
  
  a:active {
    background-color: indigo;
  } 
.footer {
  padding: 5px; 
  background: #bbb;
  margin-top: -15px;
  
}
/* nav {
  background-color: black;
  color: white;
  display:flex;
  justify-content: right;
  align-items: first baseline;
  padding-right: 10px;
  height: 50px;
 
  
}
 .navLinks {
  color: white;
} */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 25px;
}

.card-overlay, .rental-grid, .reviews {
  width: 60%;
  align-content: center;
  justify-content: center;
  padding: 1em;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 0px 10px midnightblue;
 
}
.card-overlay {
  background-color: lightgray;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 400px;
}
  .rental-details-name {
    font-style: italic;
  }
 
  
 
  
  
  
 
  

/* .rental-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 2px 0px 10px black;
  grid-gap: 1em;  
  width: 1000px;
  margin-left: 200px;

} */
.rental header {
  text-align: center;
}

form,
.input-wrapper {

  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: bolder ;
  color: black;
  text-align: center;
}

.input-wrapper input {
  /* padding: 0.6em 1.2em; */
  margin: 0.5em auto;
  width: 100%;
  border-color: black;
  font-size: 1.1rem;
  outline: none;
  font-weight: bolder ;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: black;
  margin: 1em 0;
  color: white;
  align-self: center;
  width: 20%;
}

form button :hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

h1, h3, p {
  text-align: center;
}

.addrental col , .addreview col{
  padding-top: 100px;
  margin-top: 50px;
  font-weight: bolder ;
}


.applybackground {
  background-image: url(https://www.callawayhenderson.com/localimagereader.ashx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2F7kv5jx7w5rh44qt8qf4fxwk232i215&imagecache=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 2000px;
  padding: 10px;
}

/* .welcome-scroll{
  height: 50px;
  overflow:hidden;
  position:relative;
  color: red;
  background-color: yellow;
  
  border: 1px solid orange;
} */

.fadeIn-text {
  font-family: sans serif;
  font-size: 125px;
  animation: fadeIn 5s;
  height: auto;
  text-align: center;
  /* background-color: white; */

  /* position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 4s linear infinite; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.enterbutton {
  background-color: black;
  color: white;
  /* align-self: center;
  align-content: center; */
  width: 10%;
  height: 75px;
  text-align: center;
  
  

}

