body {
  margin: 0;
}

nav {
  background-color: black;
  color: white;
  display:flex;
  justify-content: right;
  align-items: first baseline;
  padding-right: 10px;
  height: 50px;
 
  
}
 .navLinks {
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 25px;
}

.background {
  background-image: url(https://www.callawayhenderson.com/localimagereader.ashx?imageurl=https%3A%2F%2Fsir.azureedge.net%2F1103i215%2F7kv5jx7w5rh44qt8qf4fxwk232i215&imagecache=true);
  background-repeat: no-repeat;
  background-size:auto;

}




